{% assign status = include.status %}
{% case status%}
{% when "Completed" %}
<code style="background-color: #8B008B; color: white;"><b>{{ status}}</b></code>
{% when 'Writing' %}
<code style="background-color: #BA55D3; color: white;"><b>{{ status}}</b></code>
{% when  'Paused' %}
<code style="background-color: #4B0082; color: white;"><b>{{ status}}</b></code> 
{% when  'Archived' %}
<code style="background-color: #7B68EE;color: white;"><b>{{ status}}</b></code>
{% else %}	
<code><b>{{ post.status}}</b></code> 
{% endcase %}
